<div class="jumbotron">
    <h1>Bem vindo ao Teach.Me!</h1>
    <br>
    <img src="http://www.classof2035.com/assets/images/misc/intro-classroom-letterbox.png" class="img-responsive center-block" alt="foto">
    <br> 
    <p class="lead">Sistema web para aproximar professores autônomos
        que desejam oferecer aulas particulares (ou em grupo) de algum curso específico a
        alunos que buscam professores particulares para determinado assunto ou
        conteúdo.
    </p>
    <p>Desta forma o sistema serve tanto como vitrine profissional para pessoas que
        buscam vender seus cursos e como ferramenta de busca para aquelas que procuram algum
        curso​ específico,​ ou​ seja,​ como um​ ponto​ de encontro​ de​ ambas​ partes.
    </p>
</div>