<h3>{{title}}</h3>

<div class="table-responsive" *ngIf="students.length > 0">
    <table class="table table-striped table-hover">                
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Nascimento</th>
                <th><a class="btn btn-success btn-sm" routerLink='/student/new'>Novo aluno</a></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <td>{{student.id}}</td>
                <td>{{student.firstName}}</td>
                <td>{{student.phone}}</td>
                <td>{{student.email}}</td>
                <td>{{student.birthDate | date:"dd/MM/yyyy" }}</td>
                <td>                                            
                    <a class="btn btn-info btn-sm" [routerLink]="['/student/', student.id]"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                    <a class="btn btn-danger btn-sm" routerLink='/student' (click)="delete(student)"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="text-align:center" *ngIf="students.length == 0">
    <h3> Nenhum aluno cadastrado! </h3>   
    <a class="btn btn-success btn-sm" routerLink='/student/new'>Cadastrar novo aluno</a>     
</div>