<form #userForm="ngForm" class="form-horizontal">
  <fieldset>
    <legend><h3>Cadastro de Usuário</h3></legend>

    <div *ngIf="showAlert" class="alert alert-danger" role="alert">{{error}}</div>    

    <div class="form-group">    
      <label class="col-lg-4 control-label">Tipo de usuário</label>
      <div class="col-lg-4">
        <div>
          <input type="radio" name="instructor" id=instructor value="false" [(ngModel)]="user.userType">
          Instrutor &nbsp; &nbsp; 
          <input type="radio" name="student" id=student value="true" [(ngModel)]="user.userType">
          Aluno
        </div>
      </div>
    </div>

    <!-- <select class="form-control" id="instructors" name="instructors" [(ngModel)]="course.instructor">
        <option *ngFor="let u of instructors" [ngValue]="u">
            {{u.firstName}} {{u.lastName}}
        </option>
    </select> -->
    
    <div class="form-group">
      <label for="firstName" class="col-lg-4 control-label">Nome</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="firstName" id="firstName" required placeholder="Nome" [(ngModel)]="user.firstName">
      </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-lg-4 control-label">Sobrenome</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="lastName" id="lastName" required placeholder="Sobrenome" [(ngModel)]="user.lastName">
        </div>
    </div>
    <div class="form-group">
        <label for="birthDate" class="col-lg-4 control-label">Nascimento</label>
        <div class="col-lg-4">
            <input type="date" class="form-control" name="birthDate" id="birthDate" required [(ngModel)]="user.birthDate">
        </div>
    </div>    
<!--     <div class="form-group">
      <label for="sex" class="col-lg-4 control-label">Sexo</label>
      <div class="col-lg-4">
        <select class="form-control" id="sex">
            <option value="Masculino">Masculino </option>
            <option value="Feminino">Femino</option>
            <option value="Outro">Outro</option>
        </select>
      </div>
    </div> -->
    <div class="form-group">
      <label for="select" id="categories" class="col-lg-4 control-label">Sexo</label>
      <div class="col-lg-4">
          <select class="form-control" id="sexes" name="sexes" [(ngModel)]="user.sex">
              <option *ngFor="let sex of sexes" [ngValue]="sex">
                  {{sex.title}}
              </option>
          </select>
      </div>
     </div>
    <!-- <div class="form-group">
      <label for="email" class="col-lg-4 control-label">Email</label>
      <div class="col-lg-4">
        <input type="email" class="form-control" name="email" id="email" required placeholder="Email" [(ngModel)]="user.email">
      </div>
    </div> -->
    
    <div class="form-group">
      <label for="password" class="col-lg-4 control-label">Senha</label>
      <div class="col-lg-4">
        <input type="password" class="form-control" name="password" required id="password" placeholder="Senha" [(ngModel)]="user.password">
      </div>
    </div>

    <div class="form-group">
        <label for="phone" class="col-lg-4 control-label">Telefone</label>
        <div class="col-lg-4">
            <input type="tel" class="form-control" name="phone" id="phone" required placeholder="Telefone" [(ngModel)]="user.phone">
        </div>
    </div>
    <div class="form-group">
        <label for="adress" class="col-lg-4 control-label">Endereço</label>
        <div class="col-lg-4">
            <textarea class="form-control" rows="3" name="adress" id="adress" required placeholder="Endereço" [(ngModel)]="user.adress"></textarea>
        </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-4">
        <button type="reset" class="btn btn-default" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!userForm.form.valid">Salvar</button>
      </div>
    </div>
  </fieldset>
</form>


<!-- 
    <select id="instructors" name="instructors" [(ngModel)]="course.instructor">
        
        </option>
    </select> -->

    <!-- <div id="userType" name="userType" [(ngModel)]="user.userType"> -->
        <!-- <option *ngIf="let u of instructors" [ngValue]="u"> -->
         <!-- <input type="text" required [(ngModel)]="${user.firstName}">{{${user.firstName}}}  </input> -->
          <!-- {{u.firstName}} {{u.lastName}} -->
        <!-- <input type="radio" name="instructor" id=instructor value="false" [(ngModel)]="user.userType">
        Instrutor &nbsp; &nbsp; 
        <input type="radio" name="student" id=student value="true" [(ngModel)]="user.userType">
        Aluno
      </div>
    </div>
  </div> -->