<h3>{{title}}</h3>

<div class="table-responsive" *ngIf="instructors.length > 0">
    <table class="table table-striped table-hover">                
        <thead>
            <tr>
                <th>Nº</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Nascimento</th>
                <th><a class="btn btn-success btn-sm" routerLink='/instructor/new'>Novo Instrutor</a></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let instructor of instructors">
                <td>{{instructor.id}}</td>
                <td>{{instructor.firstName}}</td>
                <td>{{instructor.phone}}</td>
                <td>{{instructor.email}}</td>
                <td>{{instructor.birthDate | date:"dd/MM/yyyy" }}</td>
                <td>                                            
                    <a class="btn btn-info btn-sm" [routerLink]="['/instructor/', instructor.id]"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                    <a class="btn btn-danger btn-sm" routerLink='/instructor' (click)="delete(instructor)"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="text-align:center" *ngIf="instructors.length == 0">
    <h3> Nenhum instrutor cadastrado! </h3>   
    <a class="btn btn-success btn-sm" routerLink='/instructor/new'>Cadastrar novo Instrutor</a>     
</div>