<table class="table" *ngIf="instructors.length > 0">
  <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th>Actions</th>
  </tr>
  <tr *ngFor="let instructor of instructors">
      <td>{{instructor.id}}</td>
      <td>{{instructor.firstName}}</td>
      <td>{{instructor.phone}}</td>
      <td>{{instructor.email}}</td>
      <td><a [routerLink]="['/instructor/', instructor.id]">Editar</a> |
            <a routerLink='/instructor' (click)="delete(instructor)">Remover</a></td>
  </tr>
</table>

<h3 *ngIf="instructors.length == 0"> Nenhum instrutor cadastrado! </h3>