<form class="pure-form">
    <fieldset>
        <div class="col-md-3">
            <input type="text" id="firstName" name="firstName" placeholder="Primeiro Nome" [(ngModel)]="instructor.firstName">
            <input type="text" id="lastName" name="lastName" placeholder="Último Nome" [(ngModel)]="instructor.lastName">
            <input type="email" id="email" name="email" placeholder="E-mail" [(ngModel)]="instructor.email">
            <input type="text" id="phone" name="phone" placeholder="Telefone" [(ngModel)]="instructor.phone">
        </div> <br>


        <br> <br>
        <div>
            <input class="pure-button pure-button-primary" type="button" (click)="save()" value="Salvar">
            <input class="pure-button pure-button-danger" type="button" (click)="cancel()" value="Cancelar">
        </div>
    </fieldset>
</form>