<form #instructorForm="ngForm" class="form-horizontal">
    <div class="form-group">
        <div class="col-1 col-sm-3">
            <label for="firstName">E-mail</label>
        </div>
        <div class="col-3 col-sm-9">
            <input class="form-input" type="email" name="email" id="email" required [(ngModel)]="instructor.email">
        </div>
    </div>

    <div class="form-group">
        <div class="col-1 col-sm-3">
            <label for="password">Senha</label>
        </div>
        <div class="col-3 col-sm-9">
            <input class="form-input" type="password" name="password" id="password" required [(ngModel)]="instructor.password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-1 col-sm-3">
            <label for="password">Repetir senha</label>
        </div>
        <div class="col-3 col-sm-9">
            <input class="form-input" type="password" name="" id="" required>
        </div>
    </div>


    <div class="form-group">
        <div class="col-1 col-sm-3">
            <label for="firstName">Nome</label>
        </div>
        <div class="col-3 col-sm-9">
            <input class="form-input" type="text" name="firstName" id="firstName" required [(ngModel)]="instructor.firstName">
        </div>
    </div>

    <div class="form-group">
        <div class="col-1 col-sm-3">
            <label for="lastName">Sobrenome</label>
        </div>
        <div class="col-3 col-sm-9">
            <input class="form-input" type="text" name="lastName" id="lastName" required [(ngModel)]="instructor.lastName">
        </div>
    </div>

    <div class="form-group">
        <div class="col-1 col-sm-3">
            <label for="phone">Telefone</label>
        </div>
        <div class="col-3 col-sm-9">
            <input class="form-input" type="tel" name="phone" id="phone" required [(ngModel)]="instructor.phone">
        </div>
    </div>

    <div class="form-group">
        <div class="col-1 col-sm-3">
            <label for="adress">Endereço</label>
        </div>
        <div class="col-3 col-sm-9">
            <input class="form-input" type="text" name="adress" id="adress" required [(ngModel)]="instructor.adress">
        </div>
    </div>

    <div class="form-group">
        <div class="col-1 col-sm-3">
            <label for="birthDate">Nascimento</label>
        </div>
        <div class="col-3 col-sm-9">
            <input class="form-input" type="date" name="birthDate" id="birthDate" required [(ngModel)]="instructor.birthDate">
        </div>
    </div>

    <div class="form-group">
        <div class="col-1 col-sm-3">
            <label for="gender">Sexo</label>
        </div>
        <select class="form-select col-3 col-sm-9">
            <option> - </option>
            <option value="Masculino">Masculino </option>
            <option value="Feminino">Femino</option>
            <option value="Outro">Outro</option>
        </select>
    </div>


    <div class="form-group">
        <div class="col-1"></div>
        <div class="col-1 col-sm-6">
            <input class="btn btn-primary btn-lg" type="button" (click)="save()" value="Salvar" [disabled]="!instructorForm.form.valid">
        </div>
        <div class="col-1 col-sm-6">
            <input class="btn btn-danger btn-lg" type="button" (click)="cancel()" value="Cancelar">
        </div>
    </div>
</form>