<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
                <label for="name">Nome</label>
                <input type="text" id="firstName" name="firstName" [(ngModel)]="instructor.firstName">
        </div>

        <div class="pure-control-group">
            <label for="name">Sobrenome</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="instructor.lastName">
        </div>

        <div class="pure-control-group">
            <label for="name">E-mail</label>
            <input type="email" id="email" name="email" [(ngModel)]="instructor.email">
        </div>

        <div class="pure-control-group">
            <label for="name">Telefone</label>
            <input type="text" id="phone" name="phone" [(ngModel)]="instructor.phone">
        </div>




        <br> <br>
        <div>
            <input class="pure-button pure-button-primary" type="button" (click)="save()" value="Salvar">
            <input class="pure-button pure-button-danger" type="button" (click)="cancel()" value="Cancelar">
        </div>
    </fieldset>
</form>