<h3>{{title}}</h3>

<div class="table-responsive" *ngIf="genders.length > 0">
    <table class="table table-striped table-hover">                
        <thead>
            <tr>
                <th>Código</th>
                <th>Gênero</th>
                <th><a class="btn btn-success btn-sm" routerLink='/gender/new'>Novo Gênero</a></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gender of genders">
                <td>{{gender._id}}</td>
                <td>{{gender.title}}</td>
                <td>                                            
                    <a class="btn btn-info btn-sm" [routerLink]="['/gender/', gender._id]"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                    <a class="btn btn-danger btn-sm" routerLink='/gender' (click)="delete(gender)"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div style="text-align:center" *ngIf="genders.length == 0">
    <h3> Nenhum gênero cadastrada! </h3>   
    <a class="btn btn-success btn-sm" routerLink='/gender/new'>Cadastrar novo gênero</a>     
</div>