<!-- <div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <img src="https://vignette3.wikia.nocookie.net/scribblenauts/images/b/b1/Professor.png/revision/latest?cb=20130202214922" height="300">
    <br>
    <a type="submit" [routerLink]="['/user/', user.userType==false]" class="btn btn-primary btn-lg">Registrar como Instrutor</a>
    <a type="submit" routerLink="/user/new" class="btn btn-primary btn-lg">Registrar como Instrutor</a>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <img src="https://assets.yandycdn.com/HiRez/M0013-School-Girl-with-Jacket.jpg"  height="300">
    <br>
    <a type="submit" [routerLink]="['/user/', user.userType==true]" class="btn btn-primary btn-lg">Registrar como Aluno</a>
    <a type="submit" routerLink="/user/new" [routerLink]="['/user/new', user.userType=true]" class="btn btn-primary btn-lg">Registrar como Aluno</a>
  </div>
  <div class="col-md-2"></div>
</div> -->

<form #userForm="ngForm" class="form-horizontal">
  <fieldset>
    <legend><h3>Cadastro de Usuário</h3></legend>

    <div *ngIf="showAlert" class="alert alert-danger" role="alert">{{error}}</div>    
    
    <div class="form-group">    
      <label class="col-lg-4 control-label">Tipo de usuário</label>
      <div class="col-lg-4">
        <div>
          <input type="radio" name="userType" id=userType value="true" checked="" [(ngModel)]="user.userType">
          Instrutor &nbsp; &nbsp; 
          <input type="radio" name="userType" id=userType value="false" [(ngModel)]="user.userType">
          Aluno
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="firstName" class="col-lg-4 control-label">Nome</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" name="firstName" id="firstName" required placeholder="Nome" [(ngModel)]="user.firstName">
      </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-lg-4 control-label">Sobrenome</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="lastName" id="lastName" required placeholder="Sobrenome" [(ngModel)]="user.lastName">
        </div>
    </div> 
    <div class="form-group">
      <label for="email" class="col-lg-4 control-label">Email</label>
      <div class="col-lg-4">
        <input type="email" class="form-control" name="email" id="email" required placeholder="Email" [(ngModel)]="user.email">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-4 control-label">Senha</label>
      <div class="col-lg-4">
        <input type="password" class="form-control" name="password" required id="password" placeholder="Senha" [(ngModel)]="user.password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-4">
        <button type="reset" class="btn btn-default" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!userForm.form.valid">Salvar</button>
      </div>
    </div>
  </fieldset>
</form>