<div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <img src="https://vignette3.wikia.nocookie.net/scribblenauts/images/b/b1/Professor.png/revision/latest?cb=20130202214922" height="300">
    <br>
    <a type="submit" [routerLink]="['/user/new', user.userType==false]" class="btn btn-primary btn-lg">Registrar como Instrutor</a>
    <!-- <a type="submit" routerLink="/user/new" class="btn btn-primary btn-lg">Registrar como Instrutor</a> -->
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <img src="https://assets.yandycdn.com/HiRez/M0013-School-Girl-with-Jacket.jpg"  height="300">
    <br>
    <a type="submit" [routerLink]="['/user/new', user.userType==true]" class="btn btn-primary btn-lg">Registrar como Aluno</a>
    <!-- <a type="submit" routerLink="/user/new" [routerLink]="['/user/new', user.userType=true]" class="btn btn-primary btn-lg">Registrar como Aluno</a> -->
  </div>
  <div class="col-md-2"></div>
</div>