<div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <img src="https://vignette3.wikia.nocookie.net/scribblenauts/images/b/b1/Professor.png/revision/latest?cb=20130202214922">
    <br>
    <a type="submit" routerLink="/instructor/new" class="btn btn-primary btn-lg">Registrar como Instrutor</a>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <img src="https://vignette3.wikia.nocookie.net/scribblenauts/images/b/b1/Professor.png/revision/latest?cb=20130202214922">
    <br>
    <a type="submit" routerLink="/student/new" class="btn btn-primary btn-lg">Registrar como Aluno</a>
  </div>
  <div class="col-md-2"></div>
</div>