<header class="navbar custom-navbar">
    <section class="navbar-section">
        <a class="btn btn-link" routerLink='/instructor'>Listar instrutores</a>
        <a class="btn btn-link" routerLink='/instructor/new'>Novo instrutor</a>
        <a class="btn btn-link" routerLink='/student'>Listar alunos</a>
        <a class="btn btn-link" routerLink='/student/new'>Novo aluno</a>
    </section>
    <section class="navbar-center">
        Teach.me
    </section>
    <section class="navbar-section">
        <a class="btn btn-link" href="#">Login / Cadastro</a>
    </section>
</header>


