<nav class="navbar navbar-default custom-navbar navbar-fixed" id="myNavbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" routerLink='/index'>Teach.me</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink='/index'>Início</a></li>
                <li><a routerLink='/about'>Sobre</a></li>
                <li><a routerLink='/contact'>Contato</a></li>
                <li><a routerLink='/course'>Cursos</a></li>
                <li *ngIf="userToken == 'admin'"><a routerLink='/category'>Gerenciar Categorias</a></li>
                <li *ngIf="userToken == 'admin'"><a routerLink='/subcategory'>Gerenciar SubCategorias</a></li>
                <li *ngIf="userToken == 'admin'"><a routerLink='/user'>Gerenciar Usuários</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="currentUser == ''">
                    <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Criar Conta</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" *ngIf="currentUser != ''">
                        <li><a routerLink="/profile"><span class="glyphicon glyphicon-log-in"></span> Bem vindo  <span>{{currentUser}}</span></a></li>
                        <li><a href="/index" (click)="loggout()"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
                </ul>
        </div>
    </div>
</nav>

<br> <br>