<!-- <<<<<<< HEAD
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Teach.Me</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="btn btn-link" routerLink='/instructor'>Listar instrutores</a>
                    
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="currentUser == ''">
                <li>
                    <a class="btn btn-link" routerLink='/student/new'>Cadastrar como Aluno</a>
                </li>
                <li>
                    <a class="btn btn-link" routerLink='/instructor/new'>Cadastrar como Instrutor</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="currentUser != ''">
                <li>
                    <a class="btn btn-link" routerLink='/profile/:id'>Seja bem vindo <strong>{{currentUser}}</strong></a>
                </li>
            </ul>
        </div>
    </div>
======= -->
<nav class="navbar navbar-inverse navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#">Teach.me</a>
        </div>
        <div class="collapse navbar-collapse" id="">
            <ul class="nav navbar-nav">
                <li><a routerLink='/instructor'>Listar instrutores</a></li>
                <li><a routerLink='/instructor/new'>Novo instrutor</a></li>
                <li><a routerLink='/student'>Gerenciar alunos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Criar Conta</a></li>
            </ul>
        </div>
    </div>
<!-- >>>>>>> student -->
</nav>