<h3>{{title}}</h3>

<div class="row" *ngIf="courses.length > 0">
    <a *ngIf="!currentUser == null" class="btn btn-success btn-sm" routerLink='/course/new'>Cadastrar novo curso</a>
    <hr>

    <div class="col-md-12">
        <div class="panel panel-primary" *ngFor="let course of courses">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Código:</label> {{course.id }}
                    </div>
                    <div class="col-md-3">
                        <label>Título:</label> {{course.title | titlecase}}
                    </div>
                    <div class="col-md-offset-11">
                        <a *ngIf="course.instructor.email == currentUser" class="btn btn-info btn-sm" [routerLink]="['/course/', course.id]"><span class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>Instrutor:</label> {{ course.instructor.firstName }} {{ course.instructor.lastName }}
                    </div>
                    <div class="col-md-3">
                        <label>Contato:</label> {{ course.contact }}
                    </div>
                    <div class="col-md-3">
                        <label>Localização:</label> {{ course.location }}
                    </div>
                </div>

                <label>Preço:</label> {{course.price | currency:"BRL":true}}

            </div>
            <div class="panel-footer">
                <label>Descrição:</label>
                <p>{{course.description | uppercase}}</p>
                <div class="panel-footer">
                    <button *ngIf="userToken != 'instructor'" class="btn btn-primary"> Participar </button>
                    <button *ngIf="userToken != 'instructor'" class="btn btn-secondary"> Sair </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="text-align:center" *ngIf="courses.length == 0">
    <h3> Nenhum curso cadastrado! </h3>
    <a *ngIf="!currentUser == null" class="btn btn-success btn-sm" routerLink='/course/new'>Cadastrar novo curso</a>
</div>