<h3>{{title}}</h3>

<div class="row" *ngIf="courses.length > 0">
    <a class="btn btn-success btn-sm" routerLink='/course/new'>Cadastrar novo curso</a>
    <hr>

    <div class="col-md-12">
        <div class="panel panel-primary" *ngFor="let course of courses">
            <div class="panel-body">
                <label>Código:</label> {{course.id}} |
                <label>Título:</label> {{course.titulo}} |
                <label>Instrutor:</label> {{course.instructor}}
            </div>
            <div class="panel-footer">
                <label>Descrição:</label>
                <p>{{course.descricao}}</p>
                <div class="panel-footer">
                    <button class="btn btn-primary"> Participar </button>
                    <button class="btn btn-secondary"> Sair </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="text-align:center" *ngIf="courses.length == 0">
    <h3> Nenhum curso cadastrado! </h3>
    <a class="btn btn-success btn-sm" routerLink='/course/new'>Cadastrar novo curso</a>
</div>