/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Roboto", "Tahoma";
    font-size: 13px;
}

.custom-table {
    width: 90%;
    text-align: left;
    margin: 0 auto;

}